{
    "start_date": "2019-01-01T00:00:00Z",
    "client_id": "xxx",
    "client_secret": "xxx",
    "tpl_key": "xxx",
    "user_login_id": "1",
    "user_agent": "tap-tplcentral <my.email@domain.com>",
    "base_url": "https://xyx.com",
    "customer_id": "50",
    "facility_id": "1"
}